.header-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.header-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(10,14,82,0.2);
  object-fit: contain;
}

.header-container h1 {
  color: #fff;
  font-size: 100px;
  margin-top: 100px;
  font-family: Muli,sans-serif;
}

.header-container p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: Muli,sans-serif;
}

.head-btns {
  margin-top: 32px;
}

.head-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .header-container  h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .header-container  h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .header-container  p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}



@media only screen and (max-width: 480px) {
  .header-container  h1 {
    font-size: 40px;
    margin-top: -80px;
}
.header-container  p {
  font-size: 30px;
  margin-left: 50px;
}
}
